.heading{
    margin-top: 15px;
    color: white;
}

.carousel{
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    cursor: grab;
    overflow-x: hidden;
    width: clamp(80%, 1250px, 95%);
}

.inner_carousel{
    display: flex;
    background-color: aqua;
    width: clamp(90%, 1300px, 95%);
}

.img{
    height: 150px;
    width: 250px;
    object-fit: cover;
}
