.heading{
    margin-top: 15px;
    color: white;
}

.carousel{
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    cursor: grab;
    overflow-x: hidden;
}

.inner_carousel{
    display: flex;
    flex: 1;
}

.img{
    height: 150px;
    width: 250px;
    object-fit: cover;
}
